[2014-11-18 21:00] hueniverse opened #1 "hapi 8.0 API"

[2014-11-18 21:01] #1 closed, assigned to hueniverse

[2014-11-26 03:05] csrl opened #2 "manifest limitation on server options"
Glue restricts what is passed as options to new Hapi.Server(options), only allowing 'app', 'debug' and 'cache' members to the options.

It'd be useful to be able to define the full server options that are available.

[2014-11-26 04:07] #2 closed, assigned to hueniverse

[2014-11-26 19:37] csrl opened #3 "add support for preConnection and preRegister options handlers"
It would be useful to pass function handlers in the Glue.compose() options in order to manipulate the server at each stage.  Example:

[code]

The idea being that it would be possible to set up the server prior to loading plugins.

Is this something you'd consider supporting?

Thanks.

[2014-12-03 15:52] #3 closed, assigned to csrl

[2014-12-03 17:12] csrl opened #5 "Improve validation and documentation of manifest plugins entry"

[2014-12-03 17:14] csrl opened #6 "revamp test code to only test functionality relevant to glue"

[2014-12-09 22:59] hueniverse opened #7 "Publish 2.0.0"
It's time.

[2014-12-11 00:53] #6 closed, assigned to csrl

[2014-12-11 03:54] #5 closed, assigned to csrl

[2014-12-15 14:28] #7 closed, assigned to csrl

[2014-12-15 15:11] csrl opened #9 "tags v2.0.0-rc3 and v2.0.0-rc4 are not annotated"
The rc3 and rc4 tags were not originally created as specified at https://github.com/hapijs/contrib/blob/master/Guidelines.md#releases

I've now recreated them as annotated tags and force pushed them.  If you care, you can delete your local tags of those releases and re-fetch.  No other tags are affected.

[2014-12-15 15:11] #9 closed, assigned to csrl

[2014-12-21 18:18] dstevensio opened #10 "Parsing $env from manifest JSON outside of server config"
I had occasion to pass environment variables in to my application via the manifest file, and wanted to do so in the same manner that you can specify the server port as $env.port for instance. I achieved this by specifying the environment variables as strings in the JSON file like $env.MY_CUSTOM_KEY and then after `require`-ing the JSON file to create the manifest object, I looped over the area I h

[2014-12-22 22:54] #10 closed, assigned to csrl

[2015-01-02 11:45] gagle opened #11 "Relative paths are bugged"
You can't use a relative path to require a module from inside a module that will be stored in the node_modules folder. If you have a manifest with a path `./my-plugin`, this will be resolved to `require('<...>/node_modules/glue/my-plugin')` because relative path used with require() are relative to the __dirname.

The solution is to use join the process.cwd to the relative paths:

[code]

[2015-01-02 17:53] gagle opened #12 "'relativeTo' option usefulness"
Have you thought about the logging reporters and the way they are loaded? For example:

[code]

The `relativeTo` property is not taken into consideration when requiring the reporter, and you could be using be a reporter that's not available in the npm registry:

https://github.com/hapijs/good/blob/master/lib/monitor.js#L125

Therefore, you need to write:

[code]

And it makes no sense to have a `r

[2015-01-02 20:05] juhaelee opened #13 "Can't assign plugin to just one server connection"
In lib/index.js for the function internals.parsePlugin, the code seems to contradict itself:

[code]

If these two asserts are commented out, I can declare a specific server for a plugin like so:
[code]

[2015-01-02 20:26] #13 closed

[2015-01-03 14:43] csrl commented on #12
As you found, Good reporters are not loaded by Glue, but by Good itself.  Glue's relativeTo option is irrelevant to it.  If you want a change to Good's behavior, please open a ticket against Good.

Glue's relativeTo is used to load plugins and the server cache engine.

We won't remove relativeTo at this time. Its use is not required, so no need to use it if it doesn't meet your needs.

[2015-01-03 14:43] #12 closed

[2015-01-03 14:47] csrl commented on #11
You can set the 'relativeTo' option to the path that you want to load the plugins relative to using the output of the code you provided.

[2015-01-03 14:47] #11 closed

[2015-02-03 22:06] moliveraf opened #14 "Testing a hapi service composed using glue"
When I wasn't using glue to compose the server, the way I tested my code was pretty straight-forward. I exported the Hapi server instance from the index.js file and then, in the test modules, I required it and used the server.inject method to test the endpoints of my API.

However, using glue my index turned into something like this, with the server instance being available asynchronously:

index.

[2015-02-09 22:59] shakefon commented on #14
(not a glue or hapi contributor, just my 2 cents...)

If your endpoint functionality is all contained within the modules in `lib/modules` and your `index.js` literally just sets up the Glue compose work, I would avoid exporting/importing your server and instead replicate it in your tests. So your `index.js` would remain like so:

[code]

while your tests would be like this:

`test/whatever.js`:

[

[2015-02-09 23:34] moliveraf commented on #14
Yeah, my scenario is exactly as you described, so I will follow your advice and compose the server in the tests too. I think my index.js file has got a bit cluttered with my current solution, and it remains clearer with yours.

Thank you very much!

[2015-02-10 21:16] #14 closed

[2015-02-28 16:04] jeffm13 opened #16 "Loading manifest into an existing server"
Any chance of an alternate mechanism for glue to load a manifest into an existing server object?  My use case is for a 'reusable' server that forces consistent log, ops, security, and documentation plugins.  One way to do that might be to 'preload' a number of plugins into a server, and then load a manifest on top of the existing server.  Composition of this 'standard' server would then consist of

[2015-03-02 16:53] csrl commented on #16
I'd be open to a pull request for this.  Something as simple as providing the server to use in the compose options parameter might work.  I'd be interested in seeing alternative approaches as well.

[2015-03-20 01:23] jeffm13 commented on #16
I handled my initial use case with a preplugin function.  But it was still too brittle.  So I think I'm leaning toward an alternate loader--similar to rejoice, but it will enforce a default security scheme and merge the provided manifest with a manifest containing 'standard' plug-ins prior to loading with glue.

[2015-03-31 18:05] #16 closed

[2015-04-25 00:37] larryhengl opened #18 "multiple plugin instances"
Hapi noob here.  Trying to use multiple instances of the mysql plugin to setup different db connection pools accessible to the same route (for doing federated queries).  It's not immediately obvious where in the Glue manifest to put the attributes.multiple=true.  And once it is set, what is the best way to reference a specific plugin instance being that they have the same plugin name?
Any tips wou

[2015-04-29 20:08] jlines opened #19 "Inconsistent plugin load order"
I am loading my manifest using glue. The plugins section of manifest looks like this

plugins: {
        'hapi-auth-jwt':{},
        './server/api/index': {}
    }

My api/index calls
server.auth.strategy('token', 'jwt' ....

This call fails sometimes with the message
Authentication strategy token uses unknown scheme: jwt

It seems that the load order of the plugins are not guaranteed which is cau

[2015-04-30 08:53] Marsup commented on #19
JSON keys order have never been deterministic, use dependencies for that.

[2015-05-01 21:46] #19 closed

[2015-05-19 17:01] FennNaten commented on #18
Hi,
I'm not a contributor but I'm passing by and I think I can answer your question (even if you may have found the answer yourself considered how much time has passed since you asked).
Glue is not responsible for the support of multiple registrations of a plugin: it should be an attribute of the plugin itself, which must in this case expose its functionality in a way that works with it.
If the pl

[2015-05-26 20:21] csrl commented on #18
"attributes.multiple" is not a value that can be set via an API call.  As FennNaten pointed, out the plugin must itself set the flag and support the feature.  The glue documentation is simply pointing that requirement out.

For more details see Hapi's Server.register docs http://hapijs.com/api#serverregisterplugins-options-callback and also the Hapi Plugin docs http://hapijs.com/api#plugins

The h

[2015-05-26 20:21] #18 closed

[2015-05-26 23:24] csrl commented on #19
If the manifest's 'plugins' field learned to expect an array, plugin load order could be made deterministic.  However, if you are writing a plugin with a known dependency, then using the Server.after() and Server.dependency() support is certainly the proper approach, such that users of your plugin do not need to concern themselves with load order.

[2015-06-07 13:07] asaf opened #21 "Directory scope is wrong when using rejoice from different folder."
Hey,

(I hope this issue is related to glue and not rejoice)
When installing rejoice globally, all glue plugin 'require'  statements fail with such:

[code]
As it seems, the 'require' statement fails since the current directory is where rejoice was installed globally instead of the current one.

rejoice with -p <full path to node_modules> also doesn't fix the problem.

Thanks.

[2015-06-09 19:39] csrl commented on #21
You'll need to make your plugin keys a relative path.  Instead of
[code]
use
[code]
and provide the path to the node_modules folder that contains the plugins using rejoice's -p arg.

[2015-06-09 19:39] #21 closed

[2015-06-09 21:28] asaf commented on #21
Uh missed the -p arg, thanks!

[2015-07-03 20:22] dmacosta commented on #14
I had the same issue recently, and composing the server inside a Promise worked well. It also gets along nicely with mocha by requiring it on the `before` hook.

[2015-08-03 12:38] simon-p-r opened #27 "Add server.after hook in manifest"
Whilst using glue I thought it might be good if there was a hook in the manifest for server.after like there is for preConnections and prePlugins.

Thanks
Simon

[2015-08-18 16:43] csrl commented on #27
I'm not sure where you expect such a hook to exist.  Every step currently has a hook.

-> compose()
-> new Hapi.Server()
-> preConnections()
-> server.connection()
-> prePlugins()
-> server.register()
-> callback()

Each step you have the ability to do what you want, and the server is passed in the callback.  I see no place/need for a "server.after" hook.

[2015-08-18 16:43] #27 closed

[2015-08-18 19:40] simon-p-r commented on #27
That's a shame as I think it will give you greater external control via the manifest to configure servers, hapi's mantra is configuration over code!

[2015-08-19 22:53] Marsup commented on #27
`server.after` comes after glue gave you the server back, you do have a chance to register it before starting the server. That said glue *could* give a sugar property to spare you that call.

[2015-08-25 03:16] csrl commented on #27
@simon-p-r feel free to provide an example of what you mean, or a pull request.  I do not imagine what it is you want.  Thanks.

[2015-08-25 09:58] simon-p-r commented on #27
An example would be a server configured with some base features that users can write plugins for, my use case is I have a schema manager that can load schemas via plugins and after all plugins are loaded I call server.after to validate the schemas and can create database handles for them before hapi starts.  However if I could pass function to manifest I can then configure based on different requi

[2015-09-02 19:23] csrl commented on #27
@simon-p-r then as @Marsup said, you can just do:

[code]
If this was implemented in glue, then the above code would instead look like:
[code]
Can you explain what the benefit is to add the preStart option to glue.compose?  (preStart implemented as passing the associated function to server.after)

[2015-09-03 21:22] simon-p-r commented on #27
It just enables me to configure servers differently, I currently call server.after like you shown above however for testing it is better if I can compose based on configuration rather than code.

[2015-09-04 10:02] csrl commented on #27
Could you provide code examples showing the configuration based use as you would like it?

[2015-09-08 17:18] johanalkstal opened #30 "Conflicting routes when using prefix"
I have a manifest that looks like the following,

[code]

Both plugins adds a route that looks like this,

[code]

I get `Error: New route / conflicts with existing /` error.

Am I setting up the manifest wrong or are my expectations of how it should work wrong?

[2015-09-09 12:48] marinintim opened #31 "Prefix is passed only when plugin in manifest is an array"
If in manifest I do:
[code]

routes in `./app/api` are registered without prefix.
But if I wrap in array, it does the right thing.

[code]

Needs clarifying the docs or fix to support both variants.

[2015-09-09 13:06] AdriVanHoudt commented on #31
It should do the exact same thing https://github.com/hapijs/glue/blob/master/lib/index.js#L88-L105
weird

[2015-09-09 15:16] marinintim commented on #31
@AdriVanHoudt see this https://github.com/hapijs/glue/blob/master/lib/index.js#L187-L196

if plugin is not array, `apply: {}`, not `registerOptions`

[2015-09-09 15:33] AdriVanHoudt commented on #31
ah yes that is it I think

[2015-09-09 15:35] marinintim commented on #31
@AdriVanHoudt as far as I can see, if obj is inside array, then it's treated as register options, otherwise as plugin options.

I'm trying straightforward hack, but tests are failing at `{"who": "earth"}` is not valid register options.

So, I see two solutions:
a) document this `[registerOptions]` this
b) change api to make passing it more transparent, like
[code]

[2015-09-09 15:40] marinintim commented on #31
@csrl: I would be glad to pull request any of these options

[2015-09-09 15:52] AdriVanHoudt commented on #31
the solution is up to @csrl

[2015-09-11 10:58] marinintim commented on #30
@johanalkstal: right now you should wrap your options you pass to plugin with `[]`, it is discussed in #31.

[2015-09-11 13:57] johanalkstal commented on #30
Thanks!

[2015-09-11 13:57] #30 closed

[2015-09-12 20:32] mlennie opened #33 ""origin" must not be a sparse array"
usinge hapi 10 with node 4 in ubuntu 14. keep getting this error when starting node server. It works on my colleague's mac but not on my ubuntu 14 (which I use inside a docker container base image ubuntu).

![image](https://cloud.githubusercontent.com/assets/2946543/9833626/4bf8c216-5952-11e5-8e20-59d9c5219db0.png)

here's our server code:

[code]

[2015-09-12 21:00] #33 closed

[2015-09-14 15:19] csrl commented on #31
Yep, this aspect of the glue manifest has always bothered me, but I've been trying not to break manifest (major version) compatibility.  I'm open to suggestions/approaches.

[2015-09-14 15:49] csrl commented on #31
Perhaps with the Hapi 10 + Node 4, it might be a good time to revisit the manifest structure and break some things.

[2015-09-14 18:53] marinintim commented on #31
@csrl:
[code]

But what's the point to pass plugins as object with single key in array, to support multiple instances of the same plugin?

[2015-09-18 02:39] csrl commented on #31
Prior to 2.1.0 the 'plugins' only understood an object whose key's were the plugin to load.  In order to support loading multiple instances of the same plugin, the object keys' values could be an array of objects or an object.  It was also the only way to provide registerOptions for the plugin as well.  If the value was an object, then the object was treated as the pluginOptions, and no registerOp

[2015-09-29 03:23] danielb2 opened #34 "dependency issue"
I'm loading a local plugin with a dependency on h2o2, but seeing `Unknown handler: proxy` error

Ref: https://gist.github.com/danielb2/78309eaf53d533407642

If I change the order of the manifest file (loading h2o2 first), the test will pass. I could use the array syntax for registering the plugins in the correct order, but the Glue documentation leads me to believe using `server.dependency` will t

[2015-09-29 03:33] devinivy commented on #34
Actually `server.dependency` does not reorder your plugins in any way.  It should, however, throw an error if the dependencies are not met when the server is initialized.

[2015-09-29 03:35] danielb2 commented on #34
That's what I would think, however, this part of the documentation can be misread to read otherwise:

[code]

It suggests that `server.dependency` may help with the order when not using array order.

[2015-09-29 03:38] #34 closed

[2015-09-29 03:44] zoe-1 commented on #34
@danielb2
sever.dependency does not enforce dependencies to be loaded first.
You want to use: `server.dependency(dependencies, [after])`

[code]
[See My Explanation in the ReadMe of my glue fork](https://github.com/zoe-1/glue)
Eventually, I need to put that explanation in a hapijs.com tutorial

[2015-09-29 03:56] zoe-1 commented on #34
Also see docs: http://hapijs.com/api#serverdependencydependencies-after

[2015-09-29 04:01] devinivy commented on #34
I agree with @danielb2 that the docs are misrepresenting `server.dependency`.

[2015-10-03 14:07] devinivy opened #35 "Possible registration order / dep resolution improvement"
I noticed this note [here](https://github.com/hapijs/glue/issues#notes) about dependency registration order.  And recently saw issues #34, #19, https://github.com/hapijs/hapi/issues/2803 which made me think of this.  I just wrote a library named [hodgepodge](https://github.com/devinivy/hodgepodge) that reorders a list of hapi plugins to respect their `attributes.dependencies`.  Perhaps it could be

[2015-10-03 17:10] devinivy commented on #35
Might be worth looking into any opinions expressed here around plugin dep resolution: https://github.com/hapijs/discuss/issues/173

It may be better dealt with by plugin authors rather that plugin `register`ers like glue.

[2015-10-17 20:49] jamesdixon opened #36 "Supporting Server Methods"
Was wondering if there was any interest/plans in support for registering server methods in the Glue manifest? It's great to be able to register plugins in this fashion and similarly be great to handle server methods in a similar manner.

[2015-10-19 23:21] csrl commented on #36
Can you give an example of what/how you see this being provided?

[2015-10-20 02:24] jamesdixon commented on #36
Example:

[code]

And then in the Glue manifest:

[code]

However, given that server methods don't take any configuration options, it might be a better solution to just allow for a specified directory containing your server methods to be loaded automatically via `server.methods()`.

All that said, I realize this is just pure convenience, but it would be cool to handle server methods in the same wa

[2015-10-20 08:04] mtharrison commented on #36
Couldn't you just put your server methods inside a plugin and load that? If you start allowing server methods in the manifest separately, just wondering where this would end (routes, extensions too etc).

[2015-10-20 11:59] devinivy commented on #36
I think server methods should be registered from within a plugin.  Heck, you could write a reusable plugin that takes server methods as options, and simply registers them with a caching policy.

[2015-10-20 19:11] jamesdixon commented on #36
@mtharrison @devinivy sure, registering them within a plugin is certainly a valid option. There's potentially a lot of things that can be done in a plugin, but the question is whether or not it's the right place to do it.

@mtharrison with regards to your comment about "where would this end," it's a good question and maybe the question that needs to be answered before deciding what can and cannot

[2015-10-20 20:56] mtharrison commented on #36
Obviously this is a subjective matter but I really like the idea that the plugin is the single unit of modularity in hapi. Kind of a container for whatever else you want to put in there. A plugin can be as complex (containing routes, methods, extensions, views etc etc) or as simple (containing a single route for instance) as you need. Glue is really simple in the sense that it just sticks plugins

[2015-10-20 21:03] jamesdixon commented on #36
Thanks, @mtharrison. I admit my experience with Hapi is still limited, so I was thinking of plugins as being something that handled more complex behavior, not necessarily creating routes or registering server methods. That said, I think the points you made are good ones.

Thanks for the insights.

[2015-10-20 21:03] #36 closed

[2015-10-20 21:06] devinivy commented on #36
I highly suggest using plugins for routes, server methods, server extensions, etc.  Think of a plugin as a little sliver of a server.  A plugin could be just a few lines of code– using them for small bits of your server is encouraged!

[2015-10-24 15:44] harriha commented on #31
:+1: for this change, I tripped over because of this one, too. Also, I found having the plugin path as a key a bit cumbersome, liking the change to make it a value instead. The more explicit the registration API the better, and following conventions of existing package is obviously a plus as well.

[2015-11-02 11:02] robinvdvleuten opened #38 "No CORS options response when vhost is configured"
If I configure a vhost for routes in a plugin, the CORS options requests results in a 404 response.

It can be reproduced with the following example;

[code]

If I comment out the vhost option, the CORS response is returned as expected.

[2015-11-02 11:32] mtharrison commented on #38
Please try to provide the full code that we can run ourselves to confirm the issue. Otherwise we have to make guesses about everything you don't include.

Here's a full example of the above that can be run: https://gist.github.com/mtharrison/eb771b4a2bace5a639c9

The above example doesn't give the 404 that you're reporting.

[2015-11-02 11:36] mtharrison commented on #38
I did notice if you use a port other than 80 (such as 4000), the CORS OPTIONS request will 404. This is because the following check:

https://github.com/hapijs/call/blob/master/lib/index.js#L92

It will compare example.com (the vhost setting) with example.com:4000 (the host header). It's not possible however to set the vhost option to include a port number. I'm not sure if this is a bug or not tho

[2015-11-02 12:33] robinvdvleuten commented on #38
@mtharrison ok the issue was indeed the port number not being port 80. But it looks like a bug in the if-statement then.

[2015-11-03 21:47] hueniverse commented on #38
Sounds like a bug in how the options handler sets vhost.

[2015-11-05 10:59] mtharrison commented on #38
I think this issue should be migrated to hapi as that's where the issue seems to lie.

[2015-11-05 10:59] #38 closed

[2015-11-05 12:20] mtharrison commented on #38
https://github.com/hapijs/hapi/issues/2930

[2015-11-05 15:47] fabiomartins87 opened #39 "SyntaxError: Use of const in strict mode."
When I run the plugin it throws this error:

[code]

[2015-11-05 15:51] fabiomartins87 commented on #39
Must update to Node 4.0 to fix this.

[2015-11-05 15:51] #39 closed

[2015-11-06 17:15] rodfernandez opened #40 "Breaking changes on 2.3.0 and 2.4.0"
Hi,

There are a couple of commits (https://github.com/hapijs/glue/commit/e3b7da5bfc2ab4f571d78f4254a89eccac3c7797 and https://github.com/hapijs/glue/commit/3c8c1e09657987a0be5a0b98ae545ada38a0e94f) that introduced breaking changes when allowing `hapi>=10`, since those versions require `node>=4`.

Applications that depend on `glue@2` but still run on `node@0.x` (I know, enterprise) will break if r

[2015-11-06 17:21] lloydbenson commented on #40
Doesn't the || clause say that you CAN use the new one but the old one is still valid?

[2015-11-06 17:31] rodfernandez commented on #40
Hi LLoyd! After a fresh `npm install`, I see hapi 11 there.

[2015-11-06 18:04] lloydbenson commented on #40
of course but if you have hapi < 10 in your app, and have this glue version it should still install fine?

[2015-11-06 18:08] lkptrzk commented on #40
i got bit by this as well. might not be the intended usage, but i wasn't including hapi in the package.json, only glue.

[2015-11-06 18:13] lloydbenson commented on #40
I personally think we should have a major breaking change for hapi 10.x anyway so we can start using es6.  But I am just trying to explain why the maintainer may not consider this a breaking change.

[2015-11-06 18:14] lloydbenson commented on #40
You could fix that by including hapi in your package.json file right?

[2015-11-06 18:25] rodfernandez commented on #40
Correct, but it feels like a workaround. I will never understand `semver`...

[2015-11-06 18:25] lkptrzk commented on #40
perhaps, i just switched the dep to be explicitly 2.2.0 (instead of ^2.2.0 or whatever i had it), haven't had time to circle back on how that behaves (instead i'm just working on upgrading node + npm etc).

if i'm supposed to be explicitly including hapi in the package.json, then the problem is my incorrect understanding of how to use glue, and it'd be awesome to get some context on why that is. i

[2015-11-06 18:29] lloydbenson commented on #40
fair point.

[2015-11-06 18:29] lloydbenson commented on #40
hopefully the maintainer will address these questions.

[2015-11-06 23:01] gergoerdosi commented on #40
@rodfernandez, @lkptrzk: I recommend using http://semver.npmjs.com/:

<img width="1184" alt="screen shot 2015-11-06 at 23 59 34" src="https://cloud.githubusercontent.com/assets/371149/11010838/82aefa80-84e2-11e5-9665-50b361df2285.png">
<img width="1183" alt="screen shot 2015-11-07 at 00 00 26" src="https://cloud.githubusercontent.com/assets/371149/11010844/942bb44c-84e2-11e5-91cb-9fa2375825b9.png"

[2015-11-06 23:16] lkptrzk commented on #40
i think a concrete example will help -

using this server.js file:

[code]

and this package.json:

[code]

if you `npm install && node server.js`, the output is `9.3.1`.

with this package.json:

[code]

the output from the same script is `10.5.0`.

a minor bump in glue caused a major bump in hapi

[2015-11-06 23:18] lkptrzk commented on #40
that specific example used npm 3.3.8 and node v0.10.40

[2015-11-09 02:07] csrl commented on #40
Yes, if you haven't explicitly called out the version of Hapi you want to use, then glue will pull in the latest.  To that effect, glue 2.2.0 which allowed Hapi 9 would also be a breaking change.  Basically any time Hapi major version is bumped, would require a major version bump of Glue if we took that approach.  I've always considered that one should explicitly require a Hapi version in their pr

[2015-11-09 02:39] csrl opened #41 "update to es6 based hapi style guide and lab 7"
hapijs/contrib#62 wants all hapji projects to update to node 4+ and es6 style guide and lab v7.

[2015-11-10 17:39] rodfernandez commented on #40
A warn in the documentation is a great solution!

[2015-11-24 10:37] joseph-norman opened #43 "Hapi-lts support"
Hi guys,

I've noticed that in the `package.json` the [hapi-lts](https://www.npmjs.com/package/hapi-lts) isn't set as a dependency nor is it used in code. Would you accept a PR for this to be added in? Apologies if I've missed something here.

[2015-11-24 11:02] AdriVanHoudt commented on #43
If I am correct Hapi-lts is just the 9.x.x branch which is in the package.json

[2015-11-24 11:05] joseph-norman commented on #43
Oh is it? In that case I'll try that - thanks!

[2015-11-24 11:05] #43 closed

[2015-11-24 11:42] AdriVanHoudt commented on #43
I think it is not 100% sure though ^^

[2015-11-29 17:00] csrl commented on #31
FYI @lloydbenson these changes are upcoming if you want to get rejoice ready for them.

[2015-11-29 20:51] csrl commented on #31
I've implemented this on 'v3' branch.  I'll merge to master after I get some feedback.

[2015-11-29 21:13] csrl commented on #35
I looked at hodgepodge.  Certainly it can help with broken plugins that one does not have control over.  It could be interesting to merge this functionality into Glue so that one can still use registration options and plugin options.  I'd be open to a pull request against the v3 branch.

[2015-11-29 23:26] devinivy commented on #35
Cool.  Perhaps I should update hodgepodge to hapi's ES6 style and get it tested on node 4 and 5.  Should hodgepodge always be used during registration or should that be a glue option?  Additionally, should the `looseTally` hodgepodge option be exposed through glue options, or just keep it `true`/`false`?

Worth adding that the trick explained in the docs for a plugin author to force usage of hodge

[2015-11-30 06:50] csrl commented on #35
The support for plugin ordering should be off by default and enabled as an option in the compose function options.  Also, I'm not expecting to make Glue dependent on Hodgepodge, but rather add the ordering code to Glue itself.

I agree that providing this option is a hack.  It is preferable that plugins are instead fixed to handle dependencies properly.  I'm not interested in supporting this mysel

[2015-12-03 02:36] csrl commented on #31
@harriha @devinivy @marinintim @AdriVanHoudt  I'm interested in you all testing the v3 branch out and seeing if it meets your needs.  Please provide feedback on the docs as well.

[2015-12-03 08:58] AdriVanHoudt commented on #31
I currently do not use glue and time is a bit scarce and that one commit is too big to quickly review but I like the new format, also you made the `this is what it looks like without glue` specially dirty didn't you :P

[2015-12-03 15:46] devinivy commented on #31
I think this looks good.  One very small note is that I see hapi stylized as "Hapi" in the docs.  My understanding is that it's typically written in lowercase.

The manifest format is nice, as long as you don't get the two separate (registration versus plugin) option fields mixed-up.  I don't think it's a problem, though, really.  This will be sufficient to implement plugin dependency ordering, wh

[2015-12-03 17:28] marinintim commented on #31
Looks good to me. Commit looks good too, but didn't tested though (maybe on weekend)

[2015-12-04 02:31] csrl commented on #31
@AdriVanHoudt vs using an async library or such?  but, yah, not so clean to call everything directly with error handling.

@devinivy thanks I'll get the casing cleaned up.  I also went back and forth on the registration versus plugin.  I decided to stick with mapping the hapi API function names (eg. register)

[2015-12-04 09:48] AdriVanHoudt commented on #31
@csrl mostly styling but it is fine since it proves your point :P

[2015-12-07 18:19] csrl commented on #31
@AdriVanHoudt ok.  I also intend it to be descriptive of the manifest entries mapping to the API calls, so I was overly verbose in order to do so.

[2015-12-10 21:05] PavelPolyakov opened #45 "how to pass routes: { prefix: '/prefix' } for object notation"
Hi,

In the documentation it's stated, that we can pass options for ```server.register``` when passing the plugin options as array, like this:
[code]

However, I assume it should be somehow possible to do the same, when registering the plugin with object as options, something like this:
[code]

However, it doesn't work. Any thoughts if it's possible?

Regards,

[2015-12-17 01:03] csrl commented on #45
@PavelPolyakov  see issue #31.  This will be addressed in v3.0

[2015-12-17 01:03] #45 closed

[2015-12-17 01:25] csrl commented on #40
Commit db5cf3a resolves this.

[2015-12-17 01:25] #40 closed

[2015-12-17 01:26] #41 closed

[2015-12-17 01:27] #31 closed

[2015-12-17 01:28] #35 closed

[2015-12-18 21:08] osukaa opened #46 "TLS/SSL question"
Hi,

I'm configuring connections like this, but hapi is not creating an https listener correctly.

[code]

I have no problem when setting the connection manually:

[code]

[2015-12-18 21:47] osukaa commented on #46
It's an issue with confidence! sorry :)

[2015-12-18 21:47] #46 closed

[2015-12-18 22:14] lloydbenson opened #47 "when is glue 3.x going to be completed?"
I see there are no open issues and no open pull requests.  I have an open PR in rejoice for upgrade to es6 type syntax but have been waiting on glue to be upgraded since I am relying on that and it seemed there would be breaking changes with the new version.  Is there a timeline on this?  If its going to be a long time I guess I'll have have to release again when it's finally done.  I am trying to

[2015-12-23 23:56] csrl commented on #47
Yah, I had queued up the release, but ran out of time.  Year end has been busy.  I should be able to take care of it later today or this weekend.

[2015-12-28 16:30] #47 closed

[2015-12-29 22:45] jhyland87 opened #48 "Cant get a basic NodeJS script working with HapiJS & Glue"
I'm reading the *Developing a Hapi Edge* book, and wanted to try to get a basic HapiJS API server going using Glue, the JS is pretty much right from the book, and even took some of the plugins out, but it looks like it should work: http://pastebin.com/x6Wftvhd (Transpiled ES5 version: http://pastebin.com/PH9qiFut)

However, it returns an error in the console:

	$ node dist/app.js
	/Users/me/Docume

[2015-12-29 22:47] gergoerdosi commented on #48
It should be `registrations`, see the example in the usage section:

https://github.com/hapijs/glue/blob/master/API.md#usage

[2015-12-29 22:48] devinivy commented on #48
The issue is that glue v3 recently came out, and it's likely that you're reading a tutorial for v2.

[2015-12-29 22:49] jhyland87 commented on #48
Literally RIGHT when I posted the above, Is came across the same API link you posted above on my own... Thank you.

Is there a good book for V3 you would recommend?

[2015-12-30 00:23] vdeturckheim commented on #48
@jhyland87, V3 as been released yesterday, it is pretty unlikely that any book has taken the new format in account yet. However you can just use the v2 for now.

[2015-12-30 02:26] jhyland87 commented on #48
@vdeturckheim, eh, ill use V3, and ill continue to read the book, ill just make sure to look up the documentation for anything I look at.

Thanks!

[2015-12-30 02:52] jhyland87 commented on #48
So I got the basics to work, but it doesn't look like the labels in the `registration[ # ].plugin.options.select` are being applied..

    'use strict';

    import * as Hapi from 'hapi';
    import * as Glue from 'glue';

    const manifest = {
        server: {
            //cache: 'redis'
        },
        connections: [
            {
                port: 8000,
                labels: ['api']

[2015-12-30 03:47] gergoerdosi commented on #48
The code in glue doesn't look good to me. Created a PR to fix this.

[2015-12-30 03:51] gergoerdosi opened #50 "Cleanup example code in API.md"
The last example in API.md is unreadable and doesn't follow the hapi style guide.

[2015-12-30 04:29] jhyland87 commented on #48
Oh ok, I thought I was going crazy.

Thanks!

[2015-12-30 16:37] rjmreis opened #51 "Manifest doesn't allow for other plugin options"
Not sure I'm doing everything right here, but while upgrading to v3 it seems I can't have other plugin options other than select. This is an example of what I'm trying to load:

[code]

[2015-12-30 16:51] rjmreis commented on #51
It appears that the following syntax works. Hopefully this will help someone.

[code]

[2015-12-30 16:51] #51 closed

[2015-12-30 17:01] gergoerdosi commented on #51
@rjmreis: I doubt it works, `select` should not be in `options`. In your case `select` was probably ignored and `visionary` was registered to all connections. I made an attempt to fix this in #49.

[2015-12-30 17:05] rjmreis commented on #51
You're right @gergoerdosi, had to move it out of the plugin object. This worked:

[code]

[2015-12-30 17:43] csrl commented on #50
feel free to create a pull request, or otherwise be more specific.

[2015-12-30 17:43] #50 closed

[2015-12-30 17:45] csrl commented on #48
You want to pass that as a registration option, not a plugin init option.  ie.
[code]

See https://github.com/hapijs/glue/blob/master/API.md

[2015-12-30 17:45] #48 closed

[2015-12-31 18:23] csrl commented on #50
I pushed a commit fixing the curly brace spacing in the document.

[2016-01-05 10:24] gergoerdosi opened #52 "Support promises"
Return a promise for `compose()` if callback is not provided.

[2016-01-09 19:48] csrl commented on #52
pull request #54 implements this

[2016-01-10 23:40] amgohan opened #55 "register all js files inside a folder, instead of registering one by one"
did Glue support scanning and register all js inside a folder, especially when there are no options to pass to this plugins. Something like :

    registrations: [
        {
             plugins : './server/api/controllers/*.js'
        },
        ....
    ]

Or is there another elegant solution to do that.

[2016-01-11 16:11] csrl commented on #55
It does not.  You'd need to wrap with a your own helper code to populate the registrations array.

[2016-01-11 16:18] mattii opened #56 "Glue does not use hapi v12.x.x"
Glue seems not to take the latest hapi-version as intended. To reproduce the behavior I set up a test project with the following `package.json` and `index.js`:

[code]

[code]

If I run `node index.js`, the output will look like
[code]

This test ran on node v5.4.0 and npm 3.3.12. Can anyone confirm that behavior?

I guess glue's dependency `"hapi": "11.x.x || 12.x.x"` might be the problem. I'm no

[2016-01-11 16:40] mtharrison commented on #56
`"hapi": "11.x.x || 12.x.x"` is not in the [package.json](https://github.com/hapijs/glue/blob/v3.0.0/package.json) of the most recently published version (3.0.0). I think that still needs to be published.

[2016-01-11 16:54] mattii commented on #56
Thanks Matt! That's really good to know :)

For a temporary fix I just added this git-repo as dependency to use the latest version. So it's working fine now. But maybe the peer-dependency could be worth to discuss for the next major release (I guess it would break current implementations which do not install hapi explicitly). What do you think about this?

[2016-01-11 22:10] nlindley commented on #56
This was pretty confusing for me as well. I would suggest going the peer dependency route.

[2016-01-14 20:01] jppellerin commented on #56
Unforunately, I lost quite a bit of time with this as well.  New hapi 12.X.X features not working.  Was about to submit an issue with hapi to finally figure out that it was only when using glue that these issues were arising.

[2016-01-15 05:52] csrl commented on #56
The NPM package page README shows only hapi 11 support.  If you were referencing the github README, it pulls from master, which may be ahead of the released version.   I guess this can be a common problem with viewing the source repository of a project, vs a release package.

[2016-01-15 05:52] #56 closed

[2016-01-15 05:54] #55 closed

[2016-01-15 05:54] #52 closed

[2016-01-15 05:59] csrl commented on #56
v3.1.0 was just released with hapi 12 support.

[2016-01-15 11:20] mattii commented on #56
Thanks @csrl!

[2016-01-15 16:06] jppellerin commented on #56
@csrl Thanks for the update.  That was indeed the problem, I was on the repo and not the package readme.  Thanks for the new release.

[2016-01-17 23:27] amgohan commented on #55
I created a hapi plugin to scan and register hapi methods, take a look : https://github.com/amgohan/hapi-methods-injection

[2016-01-25 05:40] garfbargle opened #59 "No error when registering a plugin, server silently ends"
## Explanation
Registering some plugins is causing my composer to kill the server process but there is no explanation or errors. If I remove this plugin registration my server stays running as expected.

## Setup
Given this registrations configuration:
[code]

[code]

### Expected
error returned

### Actual
server starts with no error then silently quits.

[2016-01-25 05:42] garfbargle commented on #59
Ignore. Something else is going on that I'm not seeing and silently shutting the server off.

[2016-01-27 11:58] oviava commented on #14
[code]

think this is the cheapest way

[2016-01-29 13:18] tanepiper opened #60 "No documentation on new schema"
Joi of Jois, today when I deployed our API server it broke.

After digging around and some time debugging I found that `plugins` is no longer a property we can use in a config file, but some kind of new `registrations` array where you have to pass in each plugin as as an object, and a new options layout too.

Can you PLEASE document the Glue schema, and going forward advise of any changes as major

[2016-01-29 13:22] #60 closed

[2016-01-29 13:23] tanepiper commented on #60
Apologies, saw the new API docs - just had a rather frustrating morning with the new version of Glue.....

[2016-01-29 13:31] devinivy commented on #60
:P

Yes, glue came out with a new major version, which indicates that there are breaking changes.  The new glue manifest format makes the order of plugin registration to be well-defined and more transparent to the developer :)

[2016-01-29 13:51] Marsup commented on #60
Just wondering, how can you see that only when deploying ? Don't you test locally before ?

[2016-01-29 14:36] tanepiper commented on #60
@Marsup @devinivy In the package.json `"glue": "^2.4.0",` was set, so I have no idea why it broken when I deployed. But when starting up the server was getting Joi errors.  Took a while to dig around and find that it was the internal manifest, and from that the new API.

I'll most likely set the package.json to a tilde for try enforce only minor updates.

@devinivy I would say that while the API d

[2016-02-02 09:33] franzip opened #61 "Cannot register plugins in manifest registrations"
I am using [this boilerplate](https://github.com/devinivy/boilerplate-api) for a project.

This is the error I get when I run ```npm start```:

[code]
I have updated most of the dependencies and this is my package.json:

[code]

My manifest object looks like this (in /server.js):

[code]

This is /config.js:
[code]

The problem seems to be the object passed as option... passing an empty object mak

[2016-02-02 13:23] devinivy commented on #61
Hi @franzip– I think the issue is that you're passing plugin options where _registration_ options are expected.  To update your example, it should look more like this,

[code]

Also a little heads-up as a maintainer of the boilerplate, dogwater, and bedwetter– currently dogwater v1 and bedwetter v1 are not compatible.  If you want to use bedwetter, you'll have to downgrade to dogwater 0.4.x.  Sorr

[2016-02-02 13:47] franzip commented on #61
Thanks a lot @devinivy !
Heads up extremely appreciated since I was checking the various package.json to find potential incompatibilities, and I think the only constraint should be Hapi which must be <= 12 for Glue to work.
I don't think I'll be using bedwetter, as I really don't need auto generated API endpoints.

[2016-02-02 14:48] devinivy commented on #61
:+1: no problem @franzip!

[2016-02-02 14:48] #61 closed

[2016-02-02 16:21] simon-p-r commented on #61
Hey @devinivy

I thought that the registrations key must have a value of an array of objects like shown below instead of an object

[code]

[2016-02-02 16:32] devinivy commented on #61
One reason the API was changed is to make plugin registration order well-defined and controllable.  I didn't catch that you weren't passing an array!

[2016-02-03 23:20] csrl commented on #59
You can open an issue with the hapi server project.  Glue doesn't control what hapi does with plugins that do not exist.  In any case, you can catch the error hapi is throwing.

[2016-02-03 23:20] #59 closed

[2016-02-11 23:42] boneskull commented on #31
Did this land?  I'm not sure it's working as expected (or alternatively, I misunderstood something).

[code]

[2016-02-12 18:26] danielb2 opened #63 "registrations documentation"
For the registrations array, reading the documentation:

![screen shot 2016-02-12 at 10 17 49](https://cloud.githubusercontent.com/assets/26678/13016219/40e3b1ea-d172-11e5-99ab-eccf072bb2a6.png)

It reads like the format is:
[code]

however, according to the example, it reads:

[code]

Since it appears that both formats work, is one deprecated?

Regarding the example format, it seems to me that it

[2016-02-13 02:46] csrl commented on #63
No, they are both valid. And have two different meanings.  Whatever you can pass to the server.register function, you can put into the configuration.  Here is the full expanded example:
[code]
The first options is the plugin options (eg. the options passed to the plugin).  The second is the registration options (eg. the 2nd parameter to server.register())

[2016-02-13 02:46] #63 closed

[2016-02-13 02:51] csrl commented on #31
That is as expected.  The second form, you are passing what should be registration options as plugin options, which is incorrect.

[2016-02-17 20:12] danielb2 commented on #63
My point here was that both options don't appear to be described in the documentation. Or did I miss one?

[2016-02-18 17:01] csrl commented on #63
The documentation for the registrations array is such:
[code]
It doesn't explicitly document the registration `plugin` value, as that is defined by hapi.  I see no reason to duplicate hapi's documentation.  Same goes for registration `option` value.  There is a link to the hapi `registration` function api documentation for reference.

However, you aren't the first to express that the doc is unclea

[2016-03-18 16:56] penumakauday commented on #46
Hi, I am also facing the same issue. If it got fixed could you please tell me the solution.

[2016-04-18 13:15] snig-b opened #65 "How can I pass a callback function for the plugin i.e "next" in the manifest file?"
This is my manifest.js :

[code]

Where can I pass the callback for a plugin??

In the classical method:
[code]
I need this callback to execute some code

where can I specify this in manifest??

[2016-04-18 13:36] mtharrison commented on #65
Is this code that you want to execute after all plugins have loaded? If so how about putting it in the `Glue.compose` callback?

[code]

If you want the code to execute as part of the individual plugin loading you can just add it to that plugin's register function.

[code]

[2016-04-18 13:40] snig-b commented on #65
Right... That works. But another problem is that the next()  call is breaking for me.  When I run the server it says,  invalid plug in options register must be a function. And when i remove this method call -  next()  it executes perfectly. Can you figure out what may be the issue?

[2016-04-18 13:46] mtharrison commented on #65
It's a bit tricky to figure out based on just the code that you've posted. Can you share more? Or if not can you make an example with the same issue that you can share.

Is `./some-module` the only plugin in the manifest? What does it export?

[2016-04-19 02:53] LongLiveCHIEF opened #66 "Registration schema `select` option not implemented properly in 3.x"
Using version: `3.2.0`

I have the following manifest:

[code]

I am getting an error in my plugin when trying to use `server.listener`:

[code]

Here's the error:

[code]

However, if I change the connection passed to `SocketIO(server.select('app-client').listener)`, then everything works as expected.  The point of `select` in the registration options is so that you don't have to use `select` ins

[2016-04-19 05:58] snig-b commented on #65
No.. I have registered multiple plugins. More specifically, I am following the structure shared on https://medium.com/@dstevensio/manifests-plugins-and-schemas-organizing-your-hapi-application-68cf316730ef#.dbxxrz2yz for logical modules as plugins. index.js for these plugins is more or less similar to the one shown here. Only difference being how I have registered them -
[code]

Problem is occurri

[2016-04-19 06:07] snig-b commented on #65
I figured out the problem, the index.js of one of the plugins was missing the register function by mistake.
The bug here is irrelevant, however the error traceback was nowhere leading me to the issue.
The error was being thrown from an altogether different plugin.
Anyways, thank you so much for the help, you can please close this issue.

[2016-04-19 06:56] mtharrison commented on #66
The `select` option is in the wrong place. The `plugin.options` object is reserved for the options passed directly to the plugin (i.e the second parameter in your `exports.register` function). It should go one level above i.e.:

[code]

[2016-04-19 07:06] #65 closed

[2016-04-19 15:32] LongLiveCHIEF commented on #66
There's something definitely odd going on here still, even after I update to the concise code you describe.  The server always exits immediately.  If I log out `server.connections`, I get 1 or 2, based on whether or not I apply the `select` option... but `server.listener` is always `null`.

[2016-04-19 15:52] mtharrison commented on #66
The above works for me. Perhaps try to create a repo on here with a minimal example showing the problem and I'll take a look. It's hard to debug any further without seeing the full thing.

[2016-04-19 16:09] LongLiveCHIEF commented on #66
I created a repo, and wound up discovering that my error was due to the use of port 80 on my mac, which requires the user to be running as root.

I spent 4 hours working through this, just to discover I should select a different port :weary:

Side note, the server exits cleanly with 0 exit code, even though it couldn't establish a connection, and even if I was using error handling.

[2016-04-19 16:09] #66 closed

[2016-04-19 16:16] mtharrison commented on #66
If you're handling the `server.start()` error it _will_ throw when you listen on a port you don't have permission to. And it will exit with a non zero if you throw the error:

[code]

Output from running:

[code]

[2016-04-19 16:21] LongLiveCHIEF commented on #66
yup. you're right. I was only handling the `Compose((err, server) => {})` error.  It's been a long week already. There are days you catch these user mistakes in 10 minutes... and then days where it takes you 4 hours. :-)

[2016-06-02 05:59] sean-hill opened #69 "Using Glue with Lab"
Hey, in all the examples for unit testing an API using the Lab library, they require their index.js file and use module.exports = server to get access to the server in their tests. However, with Glue we are handed back the server in the callback. How would it be possible to use these two libraries together?

[2016-06-02 07:38] vdeturckheim commented on #69
Yes, you can see my example (old glue syntax) [here](https://github.com/vdeturckheim/sticky_public/blob/master/test/api/routes.test.js).

[2016-06-02 11:36] devinivy commented on #69
This becomes more complicated when you want to use the same server throughout many tests.  I created a utility named labbable with this exact use-case in mind, https://github.com/devinivy/labbable#with-glue.

[2016-06-04 14:56] #69 closed

[2016-07-22 02:43] paulovieira opened #71 "using Hoek.clone makes some plugins stop working"
`glue` will call `Hoek.clone` in the `parsePlugin` method. This has the effect that some plugins stop working as expected when the values passed in the plugin options are objects or functions (in particular, streams).

Below is a simple demo that exhibits the problem. It just loads the `good` plugin and passes an instance of a stream to the options (from `good-console`). It should output some info

[2016-07-26 16:37] csrl commented on #71
@nlf this seems to be an issue with hoek.clone?  Can you confirm?

I can work around it doing a cloneWithShallow, skipping the plugin options.

[2016-07-26 16:43] nlf commented on #71
i'm not sure how to identify this as a bug in clone. is it that clone doesn't work properly on a stream? or is it that in this case cloneWithShallow is what should reasonably be used?

[2016-07-26 16:47] paulovieira commented on #71
`Hoek.clone` is working fine. I should have been more clear in the issue: sometimes the user of `glue` needs access to the actual values passed in the options, not a copy. Streams are a good example.

Would it make sense to add a new `clone` option for glue (besides `relativeTo`, `preConnections` and `preRegister`)?

https://github.com/paulovieira/glue/tree/clone-option

[2016-07-27 21:35] csrl commented on #71
Ok, I'll just use cloneWithShallow to fix this then.  Thanks.

[2016-07-27 22:14] #71 closed

[2016-08-03 16:00] davidjamesstone commented on #14
Sorry for reviving this thread.

Glue's compose callback is not executed asynchrouously. This is similar to Joi.validate.

This can be quite confusing at first (or was it just me?) given most error-first callbacks in nodejs are executed async.

Given this, I think [oviava's](https://github.com/hapijs/glue/issues/14#issuecomment-175583134) comment above this is the simpliest way to go.

[2016-08-03 17:19] devinivy commented on #14
I created a tool to specifically help with this: https://github.com/devinivy/labbable#with-glue

[2016-08-05 08:47] davidjamesstone opened #72 "Make compose callback always execute async"
Let me start by saying thanks for Glue - it's a great, really useful module.

One issue I have is with the `compose` method. It has an optional callback which can be invoked sync or async depending if any plugins being registered are themselves async (they call their `next` function asynchronously.)

This behaviour can cause [astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishm

[2016-08-12 13:16] tsabolov opened #73 "Add Hapi 14.x.x to dependencies"

[2016-08-16 13:06] #73 closed

[2016-08-17 16:45] csrl commented on #72
I'm thinking this would be considered a breaking change and require a major version bump.  Opinions?

[2016-08-17 16:51] devinivy commented on #72
I agree that it would be a breaking change.  Given that it's accepted for hapi plugins to behave sync or async, it's pretty hard for me to say whether I agree with this change or not.  I definitely agree that it's preferable for async-looking things to behave asynchronously.  A change here almost implies that `server.register()` itself should be changed, which is hard for me to agree with outright

[2016-08-17 23:25] davidjamesstone commented on #72
I'd like to see `server.register` change. This issue then goes away but that's probably much harder to change I guess, and has more implications.

FWIW, I think it's still a worthwhile (breaking) change for `glue`.
Writing plugins has always feel async-ish to me, given you need to call `next` ala expressjs.

...just my 2 cents

[2016-08-17 23:30] devinivy commented on #72
Worth adding, the hapi style guide is at least clear on the point that callbacks named `next` are the only ones that may occur before the next tick: http://hapijs.com/styleguide#callback

[2016-08-17 23:56] davidjamesstone commented on #72
Thanks for that link, I hadn't seen it before and didn't know about the next/callback naming convention.

I guess you do get used to it though I'm not sure it's entirely clear to newcomers to hapi-land.

My concern for `glue` is It means that code could break/behaviour change if an async plugin is introduced at a later date.

E.g. This test code is good until an async plugin is registered in the m

[2016-08-19 21:08] csrl commented on #72
I think the short term "fix" is to change 'callback' to 'next' in glue.compose.

Regardless of server.register behavior, if glue.compose is called with a manifest that has an empty registrations, it still needs to maintain async behavior if the compose parameter is to be called 'callback', if we are to abide by the style guide.

[2016-08-27 20:22] #72 closed

[2016-08-27 20:24] csrl opened #74 "Support hapi 15"
hapi 15 is out, support it.

[2016-08-27 20:24] #74 closed

[2016-08-31 16:23] simlevesque opened #75 "Allow options in plugins..."
The plugin allows me to add options to server.register() but I can't set plugin specific options. You don't really support Hapi 15 if you don't allow that.

I'll make a PR.

[2016-08-31 17:17] simlevesque commented on #75
Here is the doc :

http://hapijs.com/api#serverregisterplugins-options-callback

Example :
[code]

[2016-09-19 07:00] Uptown76 opened #77 "server.info is null"
Within Glue.compose the server.info property points to null.

[2016-09-19 07:14] Uptown76 commented on #77
Apologies, disregard, I thought I had a single connection.

[2016-09-19 07:14] #77 closed

[2016-09-22 17:01] csrl commented on #75
I don't understand the problem.  Nothing has changed in regards to plugins and server.register in hapi v15.

Plugin specific options and register options are supported.  Can you provide an example manifest that is failing to behave as you expect?

[2016-09-26 03:45] #75 closed

[2016-10-07 10:20] sikancil opened #78 "Glue.compose manifest registration param, the results on each connections returned not as expected"
[code]

results on each connection by check from here:
[code]
[code]
Why it's applied all plugins into all connections?
Have I done something wrong?

**Glue** `v4.0.0`.
**Hapi** `v15.1.1`.

@csrl or anybody..
Please take a look the details I had tried on my gist:
https://gist.github.com/sikancil/71f0c07d699cdbe248c243e48913fbbf
`file: server.js`
`line: 200 ~ 208`

[2016-10-07 12:22] mtharrison commented on #78
`options` here https://gist.github.com/sikancil/71f0c07d699cdbe248c243e48913fbbf#file-server-js-L60-L69 should be a sibling of plugin property, not a child. i.e. it should be:

[code]

[2016-10-07 13:11] sikancil commented on #78
@mtharrison Thanks dude, it help much!
gist updated.

[code]

as mentioned by @mtharrison :
[code]

and when we check into each connections (eg: `server.select('Connection_A').registrations`)
[code]

[2016-10-07 13:11] #78 closed

[2016-10-10 09:10] sikancil opened #79 "Does it necessary Glue have an (optional) event or method/function right after plugin registered before the next(err) tick process?"
Referencing issue for `auth` plugins required with some different configurations on each connections.

Need to call `server.auth.strategy()` for single connection and/or `connection.auth.strategy`, right after preferred auth plugin registered before [`next(err)`](https://github.com/hapijs/glue/blob/master/lib/index.js#L119) tick.

eg:
[code]

[L117 - L120](https://github.com/hapijs/glue/blob/maste

[2016-10-10 16:26] csrl commented on #79
server.register() with hapi 15+ always calls its callback in nextTick, so the compose callback will always be called on nextTick if you register a plugin, regardless.

What is the failure condition that makes you not want the callback to be in nextTick?

[2016-10-10 20:49] sikancil commented on #79
As reference at [](https://github.com/dwyl/hapi-auth-jwt2/issues/198#issuecomment-252562072)
[code]
which in my understanding that the `auth-strategy` are failed (might late; or not applied to routes) to implement from `auth-scheme` in specific connection (or all).
Called inside ```glue.compose( app.glue.manifest, app.glue.options, function (glueError, glueServer) { ... })```
[code]

[2016-10-12 22:19] csrl commented on #79
It seems you are adding the route for all connections, but the private_jwt strategy is only private connection.  Probably try to select down to only that one connection and you should be good.  Lacking that, I suggest moving this question over to hapijs/discuss for a broader audience.  This isn't a problem with the callback being in nextTick, but at usage issue.

[2016-10-12 22:19] #79 closed

[2016-11-17 20:02] RezaOwliaei opened #80 "Getting deprecation warning"
I just following deprication warning with node v7.1.0:
`DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.`

[2016-11-18 17:51] csrl commented on #80
Glue does not use os.tmpDir().  It looks like hapi does.  Please file a ticket against hapi.

[2016-11-18 17:51] #80 closed

[2016-11-18 18:43] Marsup commented on #80
This will be fixed with hapi 15.2.1. See https://github.com/hapijs/hapi/pull/3368.

[2016-11-24 17:26] Ciul opened #81 "DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead"
I get this message:
DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead
when run:
const Glue = require('glue');

Tested on an empty node project.

[2016-12-03 20:25] h4m3d opened #82 "Add Hapi 16 support"

[2016-12-05 20:40] WesTyler opened #83 "Joi.array() does not accept arguments"
This does not result in thrown errors for Joi v10.0.2 or below, but it also does not do anything.

To pave the way for an assumed-to-be-eventual upgrade to Joi v10 (allowing for support for Hapi v16), usage of `Joi.array(Joi.object())` should be removed/refactored to `Joi.array().items(Joi.object())`.
Looking at https://github.com/hapijs/glue/blob/master/lib/index.js#L24.

[2016-12-05 20:42] WesTyler commented on #83
PR to address incoming

[2016-12-05 20:59] WesTyler commented on #82
I have a local commit for this, waiting on approval/merging of #84 before pushing/PRing.

[2016-12-06 00:21] ferrao commented on #83
+1

[2016-12-06 08:30] AdriVanHoudt commented on #82
@WesTyler You can open the PR for hapi 16 already mentioning the dependency on #84 ;)

[2016-12-06 14:52] WesTyler commented on #82
@AdriVanHoudt the tests will fail on CI checks if I push them separately. The Joi 10.x upgrade requires #84 to be in place or else an error is thrown.

Is it kosher for me to push both bits into the same PR so that the tests will pass? I know they are both small changes, but I like to keep PRs as focused as possible.

[2016-12-07 08:19] AdriVanHoudt commented on #82
@WesTyler there is no harm in doing a PR that makes CI fail, we even encourage people to submit PR's with failing tests to 'prove' there is a bug which makes it way easier to fix!

And I do think separate PR's are fine here ^^

Thanks for the contribution!!

[2016-12-09 22:03] jack0088 opened #86 "options: {showAuth: true} throws error"
Is this me or is it a bug? As soon as I add showAuth to the options I get an error: _"showAuth" is not allowed_

Here's my manifest:

`const manifest = {
    server: {},
    connections: [
        {host: "localhost", port: 8000}
    ],
    registrations: [
        {plugin: "hapi-auth-basic"},
        {plugin: "blipp", options: {showAuth: true}}
    ]
}`

Now the interesting part. If I remove showA

[2016-12-09 23:17] WesTyler commented on #86
That sounds like an issue with blipp, not glue. That error message is in fact a Joi error message, and you were able to fix the issue by modifying the blipp src.

[2016-12-10 11:40] jack0088 commented on #86
oh, sorry! I didn't noticed that I posted this not in the blipp repo. (had both opened side by side)

[2016-12-20 07:48] sandangel opened #87 "nes option: onMessage"
According to https://github.com/hapijs/nes/blob/master/API.md#registration nes has a config option when register called onMessage. How can I declare a function with the signature function(socket, message, next)
in config.json file, or I have to split nes register part to another js file?

[2016-12-23 05:15] #83 closed

[2016-12-23 05:17] #82 closed

[2016-12-23 05:26] csrl commented on #87
glue doesn't take a "config.json" file.  Are you using you using the rejoice plugin perhaps?  The manifest you pass to Glue.compose() can have a function assigned to the relevant plugin config field.

[2016-12-23 05:27] #86 closed

[2016-12-23 14:42] sandangel commented on #87
I read Hapi.js in action book and it show that we can use a config.json file to pass to manifest

index.js

'use strict';

const Glue = require('glue');

const manifest = require('./config.json');

const options = {
    relativeTo: __dirname
};

Glue.compose(manifest, options, (err, server) => {

    if (err) {
        throw err;
    }
    server.start((err) => {

        if (err) {
            th

[2016-12-28 20:05] csrl commented on #87
ok.  You can manipulate your config.json after loading it to be in the form that you want before passing it as a manifest to glue.  There is nothing in glue to help with this.

[2016-12-28 20:05] #87 closed

[2017-01-17 07:33] TangMonk opened #88 "How to load registrations with different env?"
Is there provide an optional parameter to support this?

 Like this:

[code]

[2017-01-19 18:21] CodestarGames commented on #46
Yeah I am also having trouble with this, I'm going to have to migrate away from glue if it can't support configuring the tls object in it's config. Is there any possible way to move forward, like injecting it after the fact? I have an app that has to have all of the api endpoints served over https.

[2017-01-20 03:50] csrl commented on #88
You can conditionally build your manifest.  Otherwise, you can ask in hapijs/discuss if hapi provides what you are asking.  glue does nothing for this.

[2017-01-20 09:08] Marsup commented on #46
As far as I can see, this issue has be closed as not being an issue with glue but with other modules, so telling you have the same issue doesn't say much, you'll need to provide much more details to get help.

[2017-01-20 20:57] jorgecuesta opened #89 "Plugin as function"
Hi I'm want ask if you can add a way on registrations.plugin.register to receive function like service.register.

The point of it is because I need have require/imports statements on top of manifest to can be loaded / parsed etc for server rendering purposes on some routes attached as plugins.

[2017-01-25 13:42] valdemon opened #90 "Callback is not called when options or manifest Assertion fails"
The assertion of options and manifests should be wrapped in `try...catch` clause due to call the `callback(err)` in case of an error.

Following code:
[code]

should be wrapped by `try...catch` and relocated after the optional Promise wrapping.

[2017-01-25 13:45] Marsup commented on #90
Unless he wants it to crash the process, which seems like it, just like the assert 2 lines above.

[2017-01-25 13:51] devinivy commented on #90
The idea is that if these assertions don't hold it is an unrecoverable programmer error, not dissimilar in character to what would happen if you tried to call `undefined` as a function, or read a property of `null`.

[2017-01-25 14:02] valdemon commented on #90
Ok, got it :) I just thought when one provides a contract with the error, either provided by a callback or promise then I can rely on it - means, that I'm able to handle the error in the right place (callback function, or promise `catch` clause. You could be right in case of some dummy programming, when one would ignore error objects given according to mentioned contract. So i understand you were

[2017-01-25 14:25] devinivy commented on #90
Ultimately I defer to @csrl, but that's my interpretation of it :)

[2017-01-25 14:38] valdemon commented on #90
Ok, thanks for the explanation :) Anyway, also thanks for this cool & helping library! Closing the issue.

[2017-01-25 14:38] #90 closed

[2017-01-26 04:08] csrl commented on #90
It is how hapi code is written - wrong types / schema validation failures generally throw exceptions.  Its considered a non recoverable programming error.  I've no strong opinion on it, but grep the hapi code for assert and you'll see its the common practice.

[2017-01-26 04:09] #88 closed

[2017-01-26 04:27] csrl commented on #89
Seems reasonable to me.  If the plugin register field is a function, it should use it as is, vs it being a string used for require().

[2017-01-26 04:40] csrl commented on #89
This should be what you want.  Give it a try and let me know.  If someone has time to write the test case, feel free to generate a commit from this and submit a pull request.  Else I'll get to it sometime.  Although now that I think about it, the schema validation also needs updated.

[code]

[2017-01-26 14:02] jorgecuesta commented on #89
@csrl I will try to make this tonight and let you know. About schema update I think like you. Hapi has a lot of great updates and fixes. Best regards.

[2017-02-08 16:44] quapaw opened #91 "Glue.compose is not a function"
This is probably a basic issue.
But I have tried the basic examples but I keep getting Glue.compose is not a function

I have package.json
[code]
My index.js
[code]

I am running node v7.3.0

[2017-02-08 17:41] quapaw commented on #91
crap, thanks
I knew it was something simple

[2017-02-08 17:42] #91 closed

[2017-02-27 17:43] kizzlebot opened #92 "server events postRegister"
I need to write a plugin that is registered last, after all `server-methods` are added, without having to explicitly know exactly which plugins to list as dependencies.  I see that there is a way to add `preRegister` but there is no way to add a `postRegister`; which still isn't how I'd like to use the plugin .

I would like to use something like the following in the plugin, but there isn't a `ser

[2017-03-01 07:24] csrl commented on #92
Just do whatever you need to do in the compose callback.  Like calling server.register(veryLastPlugin).  Also, the plugins are loaded in array order, so you can also just place your plugin last in the registrations array.

[code]

[2017-03-02 15:03] felixheck opened #93 "`registration`: accept alternatively a function"
Hi there!

I'm using `glue` in lots of projects, it's quite nice. Well done 😉
But `manifest.registrations` accepts currently an array of objects and `options.preRegister` is a callback function w/ the signature `function(server, next)`.

I would like to use alternatively a function instead of the array of objects. The signature could be `function(server)` and the return value is again an array of

[2017-03-02 19:02] quapaw commented on #46
I can't find any examples of configuring tls via a manifest.
All examples have loading the key and cert files in code and not pointing to them in configuration.
Have I missed something

[2017-03-13 22:10] csrl commented on #93
I guess you mean that one plugin is dependent on another?  So you want to control the load order?  Glue registers the plugins by the registrations array order.  Beyond that you'll want to manage your plugin dependencies - https://github.com/hapijs/glue/blob/master/API.md#notes

[2017-03-13 22:12] #92 closed

[2017-03-13 22:14] felixheck commented on #93
Yeah but the dependency is not really a dependency. It is possible to use the plugins without the other one.

Use Case:
Plugin A is a plugin without a decorator. It just run some code in the background.
Plugin B is plugin decoration the server object.

It is possible to use A without B but the usage gets simplified with B.
So even when I load B before A it does not help because I could not access

[2017-03-14 21:03] csrl commented on #93
I guess I am not yet understanding.  Each plugin registration function has access to the server object.  Are you saying that when Plugin B is registered first and it decorates the server object, that then when Plugin A is registered second, the server object passed to Plugin A is not decorated?

[2017-03-15 08:59] felixheck commented on #93
Yeah but I need the decorated server object within the `glue`registration process, because I need it for some options of the second registration..

[2017-03-15 09:00] felixheck commented on #93
I'll prepare a minimal working example tomorrow :)

[2017-03-20 17:26] csrl commented on #93
Any update here?  If you can create a simple example without using glue (just directly calling server.register) that shows how the first plugin decorates the server object, but the decoration does not show up in the 2nd plugin's server object, then I suggest opening an issue on the hapi project to find out if that is expected or not.  This seems out of scope for glue to care about.

[2017-03-20 17:27] csrl commented on #89
@jorgecuesta are you still interested in this?

[2017-03-20 21:04] jorgecuesta commented on #89
@csrl Sorry about delay, I can not test your change, because make a simple change on app logic to prevent this issue but should be great don't need any kind of trick to solve this situation.
Need some help or test from me? I can do it tonight...

[2017-03-21 03:29] csrl commented on #89
It needs doc update, schema validation update, and test cases written for it.

[2017-03-21 08:50] felixheck commented on #93
It does not matter anymore. Contributed to one of the plugins to solve this issues. It a workaround but i think the only solution. Nevertheless: thanks!

[2017-03-21 08:50] #93 closed

[2017-03-21 16:37] jorgecuesta commented on #89
Ok I will try to do everything you need but you should check my english because it isn't my best skill.

[2017-03-21 19:15] csrl commented on #89
sure, no problem.

[2017-03-24 17:14] jorgecuesta commented on #89
@csrl Finally I put a pull request with all the changes required by you. Let me know if can I do any more for this awesome library ;)

[2017-03-24 17:14] #89 closed

[2017-04-26 06:21] pintocarlos commented on #14
The following article shows how to tests the plugins directly without having to depend on the server wrapped in the glue composer:
http://ideasintosoftware.com/unit-testing-hapi-plugins/

I think this is by far the cleanest solution to testing your plugins, routes, and handler responses in a decoupled manner.

[2017-06-25 22:49] sberryman commented on #89
This is NOT closed as the PR hasn't been merged yet. This would be very nice to merge as I've recently come across a project which doesn't export a plugin function.

https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-hapi

They use `module.exports.hapiMiddleware` which is extremely annoying but valid. As a workaround I have to use a string with the full path to the

[2017-06-28 14:08] dhershman1 opened #96 "Promise Error doesn't make it to Catch"
It doesn't seem like the promise returned by glue makes it to the catch you add onto compose, If an issue happens within the config (say I were to change one of my plugin names to cheese) you get back an unhandled promise rejection.

**Please note**: This applies for any issue not just plugin registering.

Example setup:
[code]
The **working** glue config example:
[code]
The **broken** glue config

[2017-06-28 14:17] dhershman1 commented on #96
The main reason this doesn't work is because glue was built on the callback basis, just inserting a logic check and returning a promise doesn't work. You either have to go promise or callback trying to do both is bad practice anyway.

As well as the requires (which is why not found plugins break obviously) may need a try catch in order to send it up the totem pole to the promise.

It's probably be

[2017-06-28 14:45] devinivy commented on #96
If you throw in a catch block, then you'll create another rejected promise.  My guess is that if you log the error rather than throw it, you will not have an unhandled rejection.

[2017-06-28 14:58] dhershman1 commented on #96
Not sure why I didn't think to swap out that throw. I've been looking at this project for too long. Oh well, thanks for the clear up to my oopsies. ¯\_(ツ)_/¯

[2017-06-28 14:58] #96 closed

[2017-06-28 15:18] devinivy commented on #96
Sure thing! :D 🍻

[2017-07-13 14:52] richardzyx opened #97 "Issue when passing fs.readFileSync buffer"
I was working on getting TLS to work with frame that uses Glue+Manifest+Confidence for configuration management. Having tried both key/cert and pfx pattern and days of debugging, I believe the issue of not having TLS config correctly passed to the underlying node createServer was caused by Glue's composer when converting the manifest file.

Although hapi's documentation stated that the tls setting

[2017-07-13 15:53] jedireza commented on #97
It doesn't look like glue is doing any processing before passing the object to `server.connection(...)`. If you're using `confidence`, maybe something there could be a problem. Have you tested without `confidence` in the mix (just a simple JSON object)?
https://github.com/hapijs/glue/blob/8dc31113ee620dea13fc3b94c6cb9bcb3fa81ace/lib/index.js#L85

[2017-07-13 15:57] jedireza commented on #97
I'm dropping some related issues, though I see you commented one one already:

 - https://github.com/hapijs/confidence/issues/55 - Support for loaders
 - https://github.com/hapijs/confidence/issues/50 - TLS cert/key data missing on Store.get(...)

[2017-07-13 16:02] jedireza commented on #97
Also maybe relevant:

 - https://stackoverflow.com/questions/24392571/node-js-crypto-js-pfx-header-too-long

[2017-07-13 21:17] richardzyx commented on #97
Yes I wondered about that as well. This is the mainly reason why pfx file just won't work either way, since the utf8 workaround will lead to this issue, while the buffer cannot get passed. I will look into the possibility of Confidence being the root cause of this.

[2017-07-14 14:43] richardzyx commented on #97
@jedireza I did some bare-bones testing and can confirm that with pure hapi, tls works when passing binary buffer. But once Confidence is added, I got the same error as before: `ERR_SSL_VERSION_OR_CIPHER_MISMATCH`

Sorry now it definitely seems to be caused by Confidence. Is there anyway I can directly move this issue to there? Thanks!

[2017-07-14 20:53] jedireza commented on #97
No you can't move issues but you can copy the url and use it in the description of the issue you create (or a comment) and they'll get linked together.

Sounds like this issue can be closed.

[2017-07-25 14:50] WesTyler commented on #97
Closing since the issue was traced to confidence.

[2017-07-25 14:50] #97 closed

[2017-07-27 12:54] yamikuronue opened #98 "Promises aren't quite right"
I had an issue where in my manifest, I had accidentally included a module I did not have in my npm_modules folder (I forgot to `--save` my dependency). Instead of rejecting, it called my callback with an invalid Server object. I put together some tests in a fork that show that the joi assertions just don't play nicely with Promises: https://github.com/yamikuronue/glue/commit/6f8b833997bb3a344941ae

[2017-07-27 15:47] WesTyler commented on #98
Unfortunately this is true at the Joi level... I'll try to take a look at the Glue piece of the puzzle later today if no one else beats me to it.

[2017-08-10 15:51] forgetaboutme opened #99 "[1] "ops" is not allowed [2] "reporters" is not allowed - Glue + Good"
I am trying to use Glue & Good together, when starting the server, I run into the following errors:

[code]

Here is my code:

[code]

[2017-08-10 21:02] csrl commented on #99
You have your plugin and register options swapped for both of the plugins, instead try:
[code]

[2017-08-10 21:07] csrl commented on #98
@WesTyler did you ever get a chance to look at this?

[2017-08-10 21:45] WesTyler commented on #98
Err... nope. Being totally honest, I forgot. I'll add it to my to-do list for this weekend though. Sorry about that.

[2017-08-14 19:00] WesTyler commented on #98
Didn't find anything so far. I'll update here if I end up finding anything helpful when I get the chance to dig a bit deeper.

[2017-08-16 04:02] sibinx7 opened #100 "Where can i place Callback function with Glue.compose.bind"
[code]
[code]
Where i can pass callback to register **[bell](https://github.com/hapijs/bell/blob/master/API.md)** auth stractegy

[2017-08-16 17:28] csrl commented on #100
The glue configuration schema for a plugin registration is:
[code]

Which translates into a hapi server call of:

[code]
So if you follow bell's documentation, the mapping should become apparent.

[2017-08-16 17:30] csrl commented on #99
Feel free to reopen if that didn't answer your question.

[2017-08-16 17:30] #99 closed

[2017-08-17 17:54] sibinx7 commented on #100
Thanks @csrl

Can you give me an example with this

[code]
Can u give me one example with this.

Project use Glue.compose.bind() method than Glue.compose, second one, we can use callback
[code]

1. How can i do with `Glue.compose.bind`
2. How can i add this on
[code]

Thanks in advance ...

[2017-08-17 19:12] csrl commented on #100
call server.auth.strategy in the compose callback that provides the 'server' object.

[2017-08-18 02:08] sibinx7 commented on #100
[code]
when i add callback ,i got argument error

 throw new Error(msgs.join(' ') || 'Unknown error');
    ^
Error: Invalid number of arguments

[2017-08-18 14:50] csrl commented on #100
What is the purpose of using bind? You'll get "Invalid number of arguments" error if you pass more than 3 arguments to compose, but from what you pasted you are not doing that.  The only thing I can think is you are doing something else weird since you are using bind in the first place.

In any case, I can't reproduce the error:
[code]
You'll have to provide a minimal example that produces the err

[2017-08-21 00:55] csrl commented on #98
@yamikuronue the commit introduces quite a lot of whitespace issues in the linter.

Then it looks like you moved a bunch of tests into a 'describe', then duplicated them out and modified them to uses promises, but changed the test to no longer catch thrown exceptions.

I'm not sure what you are expecting, but the tests are invalid.  Glue.compose throws/asserts if the provided parameters are bogus.

[2017-08-21 10:16] yamikuronue commented on #98
@csrl I refactored into a more organized structure after I made my new tests, but all I did was duplicate the error handling logic in the promise mode that was there in the callback mode. Some promises that are thrown when using callback mode don't end up as a rejection and I don't yet understand why. I ran into this in production code originally.

[2017-08-21 19:29] csrl commented on #98
I see.  This is resolved by moving the two assert statements to after the Promise is created.

[code]

[2017-08-21 19:39] csrl commented on #98
@SimonDegraeve as you implemented the original promise support in glue, do you have any comment on correctness for this?

[2017-08-23 06:31] csrl commented on #100
Feel free to reopen if you still have any question.

[2017-08-23 06:31] #100 closed

[2017-09-22 21:47] spdowling opened #101 "Cloning too deeply?"
I'm using both Glue and config (https://www.npmjs.com/package/config) in my server setup. No real issues for the most part, except when I introduced caching configuration in to my manifest.

[code]

Inside of my server.js I'm using both as follows:

[code]

Pretty standard, but seems that config and Glue weren't playing well together. After some hunting around it seems that when executing parseSer

[2017-09-26 03:39] csrl commented on #101
The reason a deep clone is done, is to ensure there is no side affect Glue.compose - ie, the 'server' field of the manifest should not get modified.  Consider your example:

[code]
If making the code use a shallow clone, the following results:
[code]
Hapi's coding style desires that functions do not have the side affect of modifying passed in arguments.

You say "config and glue weren't playing we

[2017-09-26 11:11] spdowling commented on #101
Thanks for the response @csrl, sorry for not giving more detail, please find below a basic setup:

server.js
[code]
config/default.js
[code]

I've attached the log in its entirety, but main issue seems to be that config has decorated the manifest object at all levels which throws then validation errors from Hapi when trying to load the server options provided in cache, since now cache includes add

[2017-09-26 13:18] Marsup commented on #101
I'd say this is an issue with `config`, that stuff should not be enumerable.

[2017-09-26 22:07] spdowling commented on #101
Thanks Marsup.

I've raised this with config (lorenwest/node-config#434) and see what they come back with, otherwise I'll probably move back to Confidence instead.

Thanks all

[2017-09-26 22:08] #101 closed

[2017-10-20 18:47] WesTyler opened #102 "Hapi 17"
I'm opening this for transparency. I'm currently working on a branch on my fork to add support for hapi 17. Currently working with hapi@17.0.0-rc8 and Node@8.0.0.

[2017-10-21 15:00] WesTyler opened #103 "Can I deprecate the pass-through of unknown plugin attributes with hapi v17?"
Glue currently preserves and passes through unknown plugin attributes to the hapi registration method as seen [here](https://github.com/hapijs/glue/blob/master/test/index.js#L312).

According to the hapi tests, these are simply [ignored](https://github.com/hapijs/hapi/blob/master/test/server.js#L368-L404).

Is there any problem with me removing the Hoek.cloneWithShallow found [here](https://github

[2017-10-21 16:28] WesTyler commented on #102
WIP can be found in #104

[2017-10-21 18:56] csrl commented on #103
The reason the clone is there is in order to not modify the input arguments, and thus modify the caller's manifest.

The reason unknown fields are allowed, is so that any of the registration override fields allowed in https://hapijs.com/api#serverregisterplugins-options-callback are supported eg. 'once', 'select', 'routes'.   However, those technically aren't needed, since we only allow a single p

[2017-10-21 21:56] csrl commented on #103
I think our discussion on the PR supersedes this.

[2017-10-21 21:56] #103 closed

[2017-10-22 00:58] WesTyler commented on #103
Agreed. Thanks!

On Sat, Oct 21, 2017 at 4:56 PM csrl <notifications@github.com> wrote:

[2017-10-28 22:44] #98 closed

[2017-11-06 00:14] csrl commented on #102
Support added in glue 5.0.0

[2017-11-06 00:14] #102 closed

[2017-11-08 19:11] Samueljoli opened #105 "Update Api.md documentation"
[code]

This would throw  a `SyntaxError: Unexpected identifier` error since `await` is being called outside of an async function.

I could throw together a quick PR to fix this.

Maybe something like

[code]

[2017-11-08 19:53] #105 closed

[2017-11-16 08:53] saurabhghewari opened #106 "setting cache option throws error "cannot read property of _hoekOnce of undefined""
const manifest = {
          server : {
               cache : 'catbox-redis',
		port : 8000,
		compression : { minBytes : 1024 },
		debug: { request : ['*'] },
		host : '0.0.0.0',
		load : {
			sampleInterval : 1000
		},
          }
    }

The "cache" key is throwing error while starting the server

Error is "TypeError: Cannot read property '_hoekOnce' of undefined".

Removing cache from the mani

[2017-11-16 15:40] WesTyler commented on #106
Looks like `catbox-redis` has not been updated to support hapi 17 yet. You can track that issue [here](https://github.com/hapijs/catbox-redis/issues/76).

[2017-11-17 15:56] #106 closed

[2017-11-18 09:06] saurabhghewari commented on #106
Ohh. Thank you for the info.

[2017-11-20 12:31] ignivaravinderrikhi opened #107 "Invalid server options"
This is my manifest object. If I ramove the connections from server Glue returns a Promise and If I add this I get error

[code]

**<rejected> { AssertionError [ERR_ASSERTION]: Invalid server options**
&
**[1] "connections" is not allowed**

I am trying out Glue first time can you please guide me if I am doing something wrong.

**"glue": "5.0.0",**
**"hapi": "16.6.2",**

Thank you.

[2017-11-20 13:50] Marsup commented on #107
Glue 5 is made for hapi 17, not 16, you should revert to 4.

[2017-11-20 15:25] #107 closed

[2017-11-23 13:07] LoicMahieu commented on #106
`catbox-redis@4.0.0` released with hapi 17 support! Thanks to @EgoAleSum @Marsup

[2017-11-28 15:52] jberall commented on #31
Is it possible to pass options and the prefix?  Or do I just append the routes in my file?

I using Hapi v16.2
// failure
{
  registrations: [
    {
      plugin: {
        register: './path/to/plugin',
        options: {
          value: 'some val',
          routes: {
            prefix: '/api'
          }
        }
      }
    }
  ]
}

[2017-11-28 15:59] WesTyler commented on #31
I believe the problem is that your `routes` option is being passed as a plugin option. Try moving the `routes` outside of `plugin: {}`:
[code]

[2017-11-28 16:23] jberall commented on #31
Thanks for the prompt reply.
I tried and no success.  Not that it matters but I'm using Glue.
I've decided to use a simple work around.
I pass all the values as normal options then I use something like below.

I just had duplicating work.
    internals.lob_id = options.lob_id;
    internals.route_prefix = options.routes.prefix;
/**
 * Map the prefix to the path.
 * @param {*} route
 */
internals.p

[2017-11-28 16:26] WesTyler commented on #31
Oh, I'm sorry I left out a piece in my last example I think. Try this
[code]

[2017-11-28 16:58] jberall commented on #31
Thanks,
Perfection

[2017-12-16 21:01] avbalen opened #109 "How can I use standard modules as plugins?"
In Glue 4.2.0, I used a number of standard modules (hapi-auth-jwt2, lout,...) as plugin in the manifest.
However, if I do the same in Glue 5.0.0 with this manifest

   register: {
        plugins: [
            'hapi-auth-jwt2',
            'lout',
            'inert',
            'vision',
            { plugin: 'visionary',
                options: {
                    engines: { pug: 'pug' },

[2017-12-17 01:49] WesTyler commented on #109
That is the error message you get from hapi v17 when you register a plugin
that hasn’t been updated from hapi v16 yet.

I think it may be hapi-auth-jwt2 in that list, but I’m not sure.
Check that the plugins you’re using have all been updated to hapi 17 and
that you are using the proper version

On Sat, Dec 16, 2017 at 3:01 PM Auke <notifications@github.com> wrote:

[2017-12-17 11:01] avbalen commented on #109
Thanks for the quick answer.
Unfortunately many plugins like hapi-auth-jwt2, lout, vision have not yet been updated to hapi v17.
I think I might better postpone the move to hapi v17 for my application until the "dust has settled", i.e. most plugin maintainers had the chance to do the update. Moving to the new version is quite some effort, I am afraid.

[2017-12-17 11:01] #109 closed

[2017-12-17 14:01] WesTyler commented on #109
Vision is actually updated in v5, but yeah lout and hapi-auth-jwt2 aren't yet. :\

[2017-12-20 11:26] kdong007 opened #110 "how do you pass in concurrent option to hapi?"
https://github.com/hapijs/hapi/blob/master/API.md
[code]

but this is what I got
`[1] "concurrent" is not allowed`

[2017-12-20 14:43] WesTyler commented on #110
What version of hapi? What version of glue? What version of Node?

[2017-12-20 15:55] WesTyler opened #111 "Should we have a "ISSUE_TEMPLATE.md" for Glue?"
I noticed that Glue does not have the same `ISSUE_TEMPLATE.md` as other hapi repos. I think it probably should, so that we can get annoyed when people clear it out ;)

But in all seriousness, I think most of the time it does help.

[2017-12-21 07:58] gilles-bertrand commented on #110
I have the same error here is my package.json
"dependencies": {
    "glue": "^5.0.0",
    "hapi": "^17.2.0",
    "joi": "^13.0.2"
  }

[2017-12-21 14:16] WesTyler commented on #110
Okay, I just tracked this down. It was an issue with Heavy, being called inside of hapi.

Eran actually just patched this yesterday, and I've verified it works in hapi v17.2.0 .

[hapi commit](https://github.com/hapijs/hapi/commit/657be02213f2961ac13b7853db5d9219ed75a520)

[Heavy commit](https://github.com/hapijs/heavy/commit/3478a0673f3b9b236967401168d9893189a84301)

[2018-01-20 01:46] forbi opened #113 "How should I use routes in server config (failAction)."
Since in hapi 17, all the joi errors return "Invalid payload" I want to implement this "failAction" in server routes config.
[code]

How can I implement this failAction with glue?

[2018-01-21 01:59] WesTyler commented on #113
You can just pass the `routes` property with your `validate` and `failAction` as they appear in your example exactly as they are into the `server` object of your Glue manifest:

[code]

[2018-01-23 11:55] forbi commented on #113
Gotcha. I was trying to keep a JSON file. Now I'm using a Js file, and exporting the object.

![image](https://user-images.githubusercontent.com/6627528/35274538-24fedcfa-001b-11e8-8e14-a2aa35f46411.png)

[2018-01-23 14:08] #113 closed

[2018-02-11 18:03] devinivy opened #114 "Add hook to transform plugin list before registration"
This dates back to #35, but I propose we approach it differently this time around, in a way that should work better for everyone.

My request is a hook to transform the `plugins` argument that is passed to `server.register()`.  I think it could have several applications.  One thing that is so great about glue is that it creates a semi-formal point in a hapi app's lifecycle—one should be able to as

[2018-02-14 19:53] WesTyler commented on #114
I like this. I've been thinking around ways that it could screw things up for the past couple of days and haven't come up with anything significant. :)

I'll take a stab at this next week if you (or someone else) hasn't made a PR at that point.

[2018-02-20 22:45] csrl commented on #114
I don't follow.  You have control over the manifest passed to glue, process it before calling compose().  Why do you need a function to transform what you yourself passed to glue in the first place?

Can you provide an actual example of why this is needed?

[2018-02-20 23:03] devinivy commented on #114
The difference is primarily that glue does [some work](https://github.com/hapijs/glue/blob/master/lib/index.js#L86-L100) to resolve plugins.  I'm hoping to be able to integrate [`Hodgepodge.sort()`](https://github.com/devinivy/hodgepodge/blob/master/API.md#hodgepodgesortplugins-loosetally) and glue together seamlessly, but I think there could be other applications.

[2018-02-20 23:37] csrl commented on #114
If I follow correctly, you are making configuration driven dependency management, satisfied through plugin registration ordering.

But you want plugin authors to write their plugins with support for this, which only works then if using glue (assuming the functionality is merged) or hodgepodge.  But would break/not work for any other method of loading the plugin.  Whereas if they use the built in h

[2018-02-20 23:55] csrl commented on #114
If I ignore the reasoning behind the request, I can see a nicety in updating the glue compose flow to provide a hook between the plugin parsing and calling register.  And if such were done, I think it would make sense to generalize the hook functions to pass and return the manifest at each stage.  That would give the opportunity to manipulate the manifest in any fashion desired.

`onPreServer(serv

[2018-02-20 23:59] csrl commented on #114
On second thought, the positioning of onPreRegister shouldn't affect existing code, and if the hook doesn't return a manifest we can continue with the existing one.

[2018-02-21 00:22] devinivy commented on #114
Yeah, I'm not interested in adding hodgepodge's functionality to glue.  Instead I'm interested in a hook so that someone could write something like,
[code]

Can you help me understand how you picture `onPreRegister` affecting glue's resolved `plugins`?

<details/><summary>To keep the thread tidy, I've written the impetus for hodgepodge in here :) Always happy to move to hapijs/discuss to extend th

[2018-02-23 00:15] csrl commented on #114
[code]
or if you depend on side affects, assuming Hodgepodge modifies the plugins array in place.
[code]

[2018-02-23 00:32] csrl commented on #114
As for the linked article about dependencies.  I don't understand the registration time vs run time distinction.  There is no point in using server.dependency without placing the rest of the init code in side of the 'after' callback that requires the dependency.  It like hitting your finger with a hammer and saying the hammer is broken.  Use the tool properly.  But you obviously understand that, a

[2018-04-23 21:06] #111 closed

[2018-04-25 00:04] csrl commented on #114
@devinivy can you confirm that my proposal provides what you need?  I might have time to work on this in the near future.

[2018-05-02 08:49] no-more opened #115 "Integration with webpack - dynamic import issue"
#### Context

* *node version*: 8.9.4
* *glue version*: 4.2.0
* *hapi version*: 16.6.2
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I would like to bundle my project with webpack including node_modules required by the application. The issue is that Glue use dynamic imports from the config json data and thus there's no direct import of the plu

[2018-05-02 14:25] Marsup commented on #115
IMHO it's the developer's task to use `require.ensure` or whatever satisfies webpack to do that, not glue's.

[2018-05-17 18:38] #115 closed

[2018-05-23 06:41] no-more commented on #115
With newer version of glue it's possible to requires the plugins so it's no longer an issue.

Thanks for this great tool.

[2018-05-23 09:00] danielo515 opened #116 "Make hapi a peer dependency"
#### Context

* *node version*: 8.9.0
* *glue version*: 5.0.0
* *hapi version*: depends on glue
* *any other relevant information*:

Hello.
I think that hapi should be a peer dependency instead of a normal dependency. It happened to us several times that we have a version of hapi on the package.json (ej, 17.3.1) but instead we're using the one that comes with glue (17.5.0). This could be problemat

[2018-05-23 12:42] WesTyler commented on #116
So, the following is my own personal opinion. Take it for what it is :)

I think that packages that are `require()`d into your library and used as a core piece of functionality should be direct dependencies, as hapi is here.
For me, peer dependencies are things that are meant to work alongside a library; for example, a hapi plugin that exposes a `register` hook and consumes the hapi server object

[2018-05-23 12:46] WesTyler commented on #116
Also, what version of npm or yarn are you using? Glue uses `17.x.x` as its dependency, so any higher-dependency version of hapi 17 should be used.

Here's an example. I installed and specified hapi 17.0.0 on my test application, and installed glue 5 (containing the hapi 17.x.x dependency). Here's the result of `npm ls hapi`:
[code]

[2018-05-23 13:22] Marsup commented on #116
Agreed on the non-issue, I don't see how this is confusing, and npm behaves as advertised in glue's readme.

[2018-05-23 13:31] Marsup commented on #116
Glue defaults to the latest of the branch it supports, only if you have specific needs you need to add it, it seems to make sense to me. Peer dependency may be useful if glue could be compatible with multiple versions but I guess the current plan is to have major of glue for each major of hapi.

[2018-05-24 22:21] csrl commented on #116
See this old version of package.json: https://github.com/hapijs/glue/blame/1aa5d15dfa5e8af6056bc67a18ba035fc88a1f1f/package.json#L21

Currently Glue 5 only supports Hapi 17.  Glue 4 supports hapi 11, 12, 13, 14, 15, or 16, and would default to 16 if no specific version was requested.

For more detail see: https://github.com/hapijs/glue#hapi-version-dependency

As it says, add your specific hapi ve

[2018-06-01 15:14] utkj97 opened #117 "Error: Cannot start server before plugins finished registration"
I am using glue to create a server in Hapi. It gives me an error as follows:

[code]

I am using the same code as given in the documentation to configure the server:
[code]
I am using some custom plugins which are working just fine but server.start() is being executed before their registration.
await does not seem to work. What can be the possible reason?

[code]

[2018-06-01 15:46] WesTyler commented on #117
Any chance you could include your manifest? It's hard to help debug without being able to see the manifest and plugins.

Also double check the control flow on the registration method on any custom plugins you are registering.

[2018-06-04 16:39] csrl commented on #117
The error comes from hapi when plugins are still in the 'registering' state.  Apparently you are loading a plugin that is not properly implemented.

I'd suggest including 1 plugin at a time to isolate which one(s) are causing your issue.

[2018-07-03 20:08] Calinou opened #118 "Using glue with hapi-mongoose"
#### Context

* *node version*: 8.11.3
* *glue version*: 5.0.0
* *hapi version*: 17.5.2

#### What are you trying to achieve or the steps to reproduce?

I'm wondering how to make [hapi-mongoose](https://github.com/asilluron/hapi-mongoose)'s database connection object available in plugins without copy-pasting too much code around. From what I've seen, it should also be available in `require()`'d ro

[2018-07-05 13:39] WesTyler commented on #118
I'm not sure what the question is here. You've already found where the connection object is available, at `server.plugins["hapi-mongoose"].connection`.

The `register` function of all of you plugins get passed the `server` parameter, and you can access the server object on request handlers in your plugins via `request.server` as well.

[2018-07-05 14:02] Calinou commented on #118
@WesTyler Thanks for the reply :smiley:

I ended up placing models into separate files, therefore I had to find out a way to make the hapi-mongoose objects available in schema files; I passed the `server` object to the `require()` function which returns the schema. It's not ideal as it still requires copy-pasting two lines in each schema, but I can deal with that.

#### `index.js`

[code]

____

#

[2018-07-05 14:02] #118 closed

[2018-07-05 14:05] WesTyler commented on #118
Ah, ok, I see now. Thanks for clarifying.

FWIW, that's a similar pattern we use when we need props or methods on the server object inside of plugin application logic.

Glad you found a working solution 👍

[2018-07-05 14:38] WesTyler commented on #117
It's been a month with no updates here. I'm going to close this since it has stagnated and there doesn't appear to be any actionable tasks for maintainers.

Feel free to shout at me if you want me to reopen.

[2018-07-05 14:38] #117 closed

[2018-07-23 16:57] dellamina commented on #118
@WesTyler Nice solution, I took it one step further:

[code]

and then in your model you can take advantage of object destructuring like so:

[code]

[2018-09-25 07:14] liiijz opened #119 "server.events is undefined after glue compose"
#### Context

* *node version*: v10.7.0
* *glue version*: v4.2.1
* *hapi version*: v17.1.1
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

below codes
Why is **server.events** undefined?
I want to use server.events.on... as doc mentioned

[code]

[2018-09-25 14:31] WesTyler commented on #119
I haven't taken a look at this specifically, but try using Glue version 5. There was a fairly significant refactor of the internals to support hapi 17. I would expect lots of weird behavior and breakages using Glue@4 with hapi@17

[2018-09-25 14:44] WesTyler commented on #119
If you do want to update to Glue 5 from Glue 4, I wrote a short post on the differences [here](https://tech.xogrp.com/migrating-to-hapi-v17-plugin-structure-and-glue-manifests-a7b3c3d551f2)

[2018-09-26 02:13] liiijz commented on #119
thanks! after update to glue 5, it's OK!

[2018-09-26 02:13] #119 closed

[2018-09-26 03:01] WesTyler commented on #119
Excellent! Glad to hear it!

[2018-11-11 07:02] hueniverse commented on #114
6 months later, is there a reason this is still open?

[2018-11-11 21:11] csrl commented on #114
It doesn't bother me that its sitting open or if it gets closed.  I'm not going to get to implementing the functionality any time soon.   If someone wants to create a PR for it, that'd be great, and with it sitting open maybe it catches someones attention at some point.  If you want it closed, that can happen.

[2018-11-12 12:58] Nargonath commented on #114
If nobody's available to work on it, I guess it'd a good candidate for `backlog` label.

[2018-11-12 17:49] devinivy commented on #114
I may be able to pick this up at some point, but it's relatively low priority for me, so not in the immediate future.  I'll close this—perhaps we can reopen it if a similar request comes through, or if it becomes a priority for some reason.  It's good/useful to know from this conversation that a PR would be welcome.

[2018-11-12 17:49] #114 closed

[2019-01-04 15:48] eitah opened #123 "Server options load support? Migrating from hapi 16 -> 17"
I'm migrating from hapi 16 -> 17.

I see the new syntax for passing load options in hapi is to pass `server.options.load` (example max event loop delay as documented here `https://github.com/hapijs/hapi/blob/master/API.md#-serveroptionsload`). The docs above label it as the Hapi api for v18.x but since that’s the development version I think the settings are identical for v17 as per the release not

[2019-01-04 16:06] eitah commented on #123
PS- the docs above label it as the Hapi api for v18.x but since that’s the development version I think the settings are identical for v17 as per the release notes here https://github.com/hapijs/hapi/issues/3658

[2019-01-04 17:16] csrl commented on #123
Server options go into  `manifest.server`, not glue compose options.  If that is what you are doing, then please provide example code that fails.

[2019-01-04 23:07] eitah commented on #123
I am following along with the example usage here https://github.com/hapijs/glue/blob/master/API.md#usage

that code abstracts away access to the call to this code so that I never write the line
 `const server = Hapi.server({ cache: [{ engine: require('redis') }], port: 8000 });`

I dont understand how to access the Hapi.server options object to pass additional options if glue compose returns an in

[2019-01-04 23:19] eitah commented on #123
To be specific about my code, i am passing manifest with the below options, and the Joi validation only allows the load object to be passed.

`    const manifest = {
        server: {
            maxHeapUsedBytes,
            maxRssBytes,
            maxEventLoopDelay,
            load: {
                sampleInterval: 1000, // send 503 when server starts maxing out on resources
            },

[2019-01-04 23:37] csrl commented on #123
Does it work with calling `Hapi.server({ load: { sampleInterval: 1000, maxHeapUsedBytes: 1073741824, }, })` directly?  As you show, the error comes from hapi, not glue.

[2019-01-04 23:38] eitah commented on #123
that did it! thank you for the correction. I merely had the options object configured incorrectly.
Thanks again.

[2019-01-04 23:40] #123 closed

[2019-04-14 00:16] hueniverse opened #126 "Change module namespace"

[2019-04-14 00:17] #126 closed

[2019-04-16 04:00] hueniverse opened #127 "Change module namespace for v5 branch"

[2019-04-16 05:03] #127 closed

[2019-05-15 10:54] hgrubst opened #128 "Server cache options in hapi 18 cannot be passed"
I am currently migrating from hapi 17 to hapi 18 and cannot configure my server cache successfully with glue.
Although the doc mentions specific support to call 'require' on the 'provider' option, this is forcing you to have provider as a string instead of an object, hence prevent you from passing additional options.
Here is how my config looks like :
`
"server": {
        ...
        "cache": {

[2019-05-19 17:19] hueniverse commented on #128
I'll take a PR if you want to try it.

[2019-05-19 23:56] hgrubst commented on #128
Sure, I've raised https://github.com/hapijs/glue/pull/129

[2019-08-14 06:01] greenkeeper[bot] opened #130 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 19:59] #130 closed

[2019-08-14 21:06] hueniverse opened #132 "Update deps"

[2019-08-14 22:32] #132 closed

[2019-09-12 20:47] hueniverse opened #133 "Update joi"

[2019-09-12 20:47] #133 closed, assigned to hueniverse

[2019-12-25 18:52] svallory opened #136 "Add typescript type definitions"
For people using Typescript it would be awesome to get IDE help and type checks when writing manifests. I know there's a `@types/hapi__glue` package, but officially supporting it would mean it's always up-to-date with the latest version of glue

[2019-12-26 11:18] Nargonath commented on #136
There is an ongoing project in the organization to bring TypeScript definition to every project. Right now Eran is trying to finance such effort through a crowdfunding campaign: https://www.gofundme.com/f/hapi-ts. As you seem to care about it, perhaps consider asking your employer to participate. Individual participations are also welcomed of course.

Merry Christmas. :christmas_tree:

[2019-12-26 19:06] hueniverse commented on #136
This will happen over time based on available resources. Closing as it is tracked as part of a larger effort.

[2019-12-26 19:06] #136 closed

[2020-01-12 04:38] hueniverse opened #138 "Only node 12"

[2020-01-12 04:45] #138 closed

[2020-02-26 12:11] chrift opened #139 "No way of passing default route validator to glue"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise):
Community
* *is this issue currently blocking your project?* (yes/no):
Yes
* *is this issue affecting a production system?* (yes/no):
No

#### Context

* *node version*:
12.13.1
* *module version with issue*:
7
* *last module version without issue*:
* *environment* (e.g. node, browser,

[2020-02-27 11:47] chrift commented on #139
After some more digging I've found you can specify a validator at this path of your glue manifest:
`manifest.server.routes.validate.validator = Joi`

[2020-02-27 11:47] #139 closed